@use "../globals/typography" as g;
@use "../utils/breackpoints" as b;

.card {
  display: flex;
  flex-direction: column;

  &__link {
    &:hover {
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 16px;
    filter: brightness(100%);
    transition: filter 0.5s ease;

    &:hover {
      filter: brightness(70%);
      transition: filter 0.5s ease;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: g.$mainText;
    margin-bottom: 47px;

    @include b.breackpoint-down("769") {
      margin-bottom: 30px;
    }
  }

  &__material {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: g.$smallText;
    line-height: 20px;
    margin-bottom: 19px;
    min-height: 80px;

    @include b.breackpoint-down("769") {
      margin-bottom: 13px;
    }
  }

  &__sizes {
    display: flex;
    flex-direction: row;
    font-size: g.$smallText;
    margin-bottom: 9px;
  }

  &__size {
    margin-right: 6px;

    &:last-of-type {
      margin-right: 0;
    }

    &_notAvailable {
      @extend .card__size;
      opacity: 0.4;
    }
  }
}
