@forward "app";
@forward "header";
@forward "mobileHeader";
@forward "main";
@forward "history";
@forward "bestsellers";
@forward "card";
@forward "links";
@forward "linkCard";
@forward "promo";
@forward "moreInfo";
@forward "footer";
