@use "../globals/typography" as g;
@use "../utils/breackpoints" as b;

.mobile-header {
  position: relative;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;

  @include b.breackpoint-down(medium) {
    display: flex;
  }

  &__logo {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 0.7;
      transition: opacity 0.5s ease;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.5s ease;
    }
  }

  &__burger-line {
    width: 30px;
    height: 3px;
    background-color: hsl(64, 30%, 89%);
    margin-bottom: 5px;
  }

  &__menu {
    position: absolute;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    max-width: 500px;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 0.6s ease-out, visibility 0.6s;
    z-index: 999;
    &_active {
      @extend .mobile-header__menu;
      visibility: visible;
      opacity: 1;
    }
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 32px;
    flex-direction: column;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.5s ease;
    }
  }

  &__cross-line {
    width: 30px;
    height: 3px;
    background-color: hsl(64, 30%, 89%);

    &:first-of-type {
      transform: rotate(45deg);
      margin-top: 2px;
    }
    &:last-of-type {
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  }

  &__gender-links {
    font-size: g.$middleTitle;
    margin-bottom: 30px;
  }

  &__gender-link {
    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  &__nav-links {
    font-size: g.$mainText;
    margin-bottom: 30px;
  }

  &__nav-link {
    margin-bottom: 10px;
  }

  &__buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: g.$mainText;
  }

  &__button-dropdown {
    background-color: transparent;
    border: none;
    margin-bottom: 100px;
  }

  &__button-dropdown-item {
    &_select {
      @extend .mobile-header__button-dropdown;
      border-bottom: 1px solid hsl(64, 30%, 89%);
      margin: 0;
      transition: border 0.5s ease-out;
      transition-delay: 0.2s;
    }
  }

  &__button-arrow {
    cursor: pointer;
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 0.7;
      transition: opacity 0.5s ease;
    }
  }

  &__dropdown-content {
    display: block;
    position: absolute;
    top: 30px;
    margin-left: -4px;
    width: 90px;
    text-align: center;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, visibility 0.4s;

    &_active {
      @extend .mobile-header__dropdown-content;
      visibility: visible;
      opacity: 1;
    }
  }

  &__dropdown-lang {
    cursor: pointer;
    margin-bottom: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 0.7;
      transition: opacity 0.5s ease;
    }
    &:first-of-type {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid hsl(64, 30%, 89%);
    }
  }

  &__basket-link {
    cursor: pointer;
  }
}
