@use "../utils/fonts" as u;
@use "./typography" as t;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  font-weight: t.$fontWeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

button {
  padding: 0;
}
