.blue {
  background-color: hsl(208, 25%, 53%);
}

.light-blue {
  background-color: hsl(208, 24%, 56%);
}

.grey {
  background-color: hsl(64, 30%, 89%);
}

.white {
  background-color: hsl(0, 0%, 100%);
}

.dark-text {
  color: hsl(0, 20%, 15%);
}

.light-text {
  color: hsl(64, 30%, 89%);
}

.white-text {
  color: hsl(0, 0%, 100%);
}
