$bigTitle: 48px;
$middleTitle: 36px;
$smallTitle: 28px;
$mainText: 16px;
$smallText: 13px;
$fontWeight: 400;

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

a:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
